{% extends 'cpanel/main.html' %}
{% block content %}
{% load method %}
{% load static %}
    <div id="content mt-10">
        <div class="">
           
          
            <div class="clearfix mt-10">
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="header">
                            <h2>Table Filter</h2>
                        </div>
                        <div class="body">
                            <!-- <button type="button" class="btn mb-1 btn-simple btn-sm btn-default btn-filter" data-target="all">Todos</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-success btn-filter" data-target="approved">Approved</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-warning btn-filter" data-target="suspended">Suspended</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-info btn-filter" data-target="pending">Pending</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-danger btn-filter" data-target="blocked">Blocked</button> -->
                            <div class="table-responsive m-t-20">
                                <table class="table m-b-0 border">          
                                    <thead>
                                        
                                        <th>ID</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                </thead>                             
                                    <tbody>
                                        {% for detection in detections %}
                                        <tr data-status="approved">
                                            <td>{{detection.id}}</td>
                                            <td><div class="media-object"><a target="_blank" href="/static{{detection.image.url}}"><img style="border-radius: 3px;" src="/static{{detection.image.url}}" alt="" width="35px" class=""></a></div></td>
                                            
                                            <td>
                                                <a href="{% url 'cpanel-detections' %}/{{detection.user.id}}">
                                                    {{detection.user.name}}
                                                </a>
                                            </td>
                                            
                                            <td>{{detection.date|date:'D, d N Y H:i'}}</td>
                                            <td><span class="badge badge-{{detection.type_color}}">{{detection.type_str}}</span></td>
                                        </tr>
                                        {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    {% endblock content %}
