{% extends 'cpanel/main.html' %}
{% block content %}
    
   

    <div id="content mt-10">
        <div class="">
           
          
            <div class="clearfix mt-10">
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="header">
                            <h2>Table</h2>
                        </div>
                        <div class="body">
                            <!-- <button type="button" class="btn mb-1 btn-simple btn-sm btn-default btn-filter" data-target="all">Todos</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-success btn-filter" data-target="approved">Approved</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-warning btn-filter" data-target="suspended">Suspended</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-info btn-filter" data-target="pending">Pending</button>
                            <button type="button" class="btn mb-1 btn-simple btn-sm btn-danger btn-filter" data-target="blocked">Blocked</button> -->
                            <form id="monthForm" method="post">
                                {% csrf_token %}
                                <label for="start">Month:</label>
                                <input required type="month" onchange="submitMonthForm()" id="month" name="month" value="{{ month }}">
                                <!-- <input type="submit" value="Submit" /> -->
                            </form>
                            <script>
                                function submitMonthForm()
                                {
                                    document.getElementById("monthForm").submit();
                                }
                            </script>
                            <div class="table-responsive m-t-20">
                                <table class="table border text-center m-b-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h5>Monday</h5>
                                            </th>
                                            <th>
                                                <h5>Tuesday</h5>
                                            </th>
                                            <th>
                                                <h5>Wendesday</h5>
                                            </th>
                                            <th>
                                                <h5>Thursday</h5>
                                            </th>
                                            <th>
                                                <h5>Friday</h5>
                                            </th>
                                            <th>
                                                <h5>Saturday</h5>
                                            </th>
                                            <th>
                                                <h5>Sunday</h5>
                                            </th>
                                        </tr>
                                    </thead>                             
                                    <tbody>
                                        
                                        {% for week in data %}
                                           <tr data-status="approved">
                                                {% for day, color in week.items %}
                                                    {% if color == '0' %}
                                                        <td></td>
                                                    {% else %}
                                                        
                                                            
                                                            <td class="text-white">
                                                                <a class=" btn btn-{{color}}" style="width: 80px; height: 80px;; border-radius: 100px;" href="{% url 'cpanel-users' month %}-{{day}}">
                                                                    <h1 class="text-white h1 mt-2"> {{ day }} </h1>
                                                                    <!-- <p class="text-light" style="height: 0px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p> -->
                                                                </a>
                                                            </td>
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    {% endblock content %}