{% extends 'cpanel/main.html' %}
{% block content %}
{% load method %}

    <div id="content mt-10">
        <div class="">
           
      
            <div class="clearfix mt-10 justify-content-md-center">
              
                <div class="col-lg-5" style="margin: 0 auto;">
                    <div class="card">
                        <div class="header">
                            <h2>Update user</h2>
                        </div>
                        <div class="body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary btn-block mb-4" type="submit">Update</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    {% endblock content %}